@use '../../stylesheets' as var;

.container {
  gap: 2rem 0;
  display: grid;
  list-style: none;
  padding: 1.5rem 1rem;
  justify-content: center;
  background-color: var.$transparent-very-light-grey;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.labelWrapper {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.labelHeading {
  color: var.$black;
  font-family: var.$gotham-black;
}

.labelList {
  gap: 1rem;
  display: flex;
  list-style: none;
}

.labelItem {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.labelText {
  color: var.$black;
  font-family: var.$gotham-book;
}
