@use '../../stylesheets' as var;

.footer {
  gap: 1rem;
  width: 100%;
  display: flex;
  margin-top: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-block: 2.5rem 5.5rem;
  background-color: var.$dark-grey;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 100px;
}

.text {
  color: var.$white;
  font-family: var.$gotham-light;
}
